* {
    box-sizing: border-box;
}

html {
    scrollbar-color: #1b611e #242424;
}

p {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}
